<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crud application </title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/60722211db.js" crossorigin="anonymous"></script>

</head>
<body>

    <!--------------Bar navigation--------------------->

    <div class="navigation"> 
       <a href="/" class="home"> <h1> Crud Application</h1></a>
       <div> 
       <a href="/"><button class="btn"> All user </button> </a> 
       <a href="/add_user"><button class="btn"> Add user <i class="fas fa-user-plus"></i></button> </a> 
       </div>
    </div>