
<tr> 
    <td>1</td>
    <td>amal</td>
    <td>amal@gmail.com</td>
    <td>female</td>
    <td>active</td>
    <td> <a href="/update_user"> <i class="fas fa-edit"></i>  </a><a href="/delete_user"><i class="fas fa-trash-restore"> </i></a> </td> 
</tr>