
<!----include header----->

<%-include('includes/header.ejs')%>
  
<!----/include header----->

<section class="add_user"> 

    <h1> Add user using this form</h1>
   
<!----include form ----->

<%-include('includes/form.ejs')%>
  
<!----/include form----->


</section>

<!----include footer----->

<%-include('includes/footer.ejs')%>

<!----/include footer---->