
<!----include header----->

<%-include('includes/header.ejs')%>
  
<!----/include header----->

<section class="add_user"> 

 <h1> Delete user</h1>

</section>


<!----include footer----->

<%-include('includes/footer.ejs')%>

<!----/include footer---->