
<!----include header----->

<%-include('includes/header.ejs')%>
  
<!----/include header----->

<main> 
<table>
    <tr> 
        <th>  ID </th>
        <th> Name </th>
        <th> Email </th>
        <th> Gender</th>
        <th> Status</th>
        <th> Action </th>

    </tr>

    <!-----include table---------->
       <%-include('includes/table.ejs')%>

     <!-----/include table---------->


</table> 
</main> 

<!----include footer----->

<%-include('includes/footer.ejs')%>

<!----/include footer---->
